body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

/*=====Sprite=====*/
.sprite {
  display: block;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.sprite-checkbox-off {
  width: 20px;
  height: 20px;

  background-position: -10px -10px;
}

.sprite-checkbox-on {
  width: 20px;
  height: 20px;

  background-position: -10px -50px;
}

.sprite-icon-cart {
  width: 21px;
  height: 20px;

  background-position: -10px -90px;
}

.sprite-icon-cow {
  width: 47px;
  height: 47px;

  background-position: -10px -130px;
}

.sprite-icon-fb {
  width: 31px;
  height: 31px;

  background-position: -10px -197px;
}

.sprite-icon-heart {
  width: 15px;
  height: 13px;

  background-position: -10px -248px;
}

.sprite-icon-ice-cream {
  width: 47px;
  height: 47px;

  background-position: -10px -281px;
}

.sprite-icon-instagram {
  width: 31px;
  height: 31px;

  background-position: -10px -348px;
}

.sprite-icon-leaf {
  width: 47px;
  height: 47px;

  background-position: -10px -399px;
}

.sprite-icon-login {
  width: 20px;
  height: 19px;

  background-position: -10px -466px;
}

.sprite-icon-search {
  width: 17px;
  height: 17px;

  background-position: -10px -505px;
}

.sprite-icon-thermometer {
  width: 47px;
  height: 47px;

  background-position: -10px -542px;
}

.sprite-icon-twitter {
  width: 31px;
  height: 31px;

  background-position: -10px -609px;
}

.sprite-icon-vk {
  width: 31px;
  height: 31px;

  background-position: -10px -660px;
}

.sprite-radio-off {
  width: 20px;
  height: 20px;

  background-position: -10px -711px;
}

.sprite-radio-on {
  width: 20px;
  height: 20px;

  background-position: -10px -751px;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slide-picture1.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-picture2.png");
}

.content-wrapper {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

/*=====Slider=====*/
.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 60px;
  line-height: 60.35px;
}

.slide-btn {
  display: inline-block;
  margin-bottom: 43px;
  padding: 0 45px;

  font-weight: 600;
  font-size: 31.48px;
  line-height: 62.93px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-picture1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-picture2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-picture3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*=====Header=====*/
.main-header {
  margin-bottom: 3px;
}

.header-logo {
  float: left;
  width: 165px;
  padding-top: 10px;
}

.main-navigation {
  float: left;
  width: 600px;
  padding-top: 28px;
}

.main-navigation ul {
  padding: 0;
  padding-left: 11px;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 29px;

  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}

.main-navigation a {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.submenu {
  display: none;
}

.user-block-wrapper {
  float: right;
  width: 290px;
  padding-top: 23px;
}

.user-block {
  margin-bottom: 15px;
  padding-left: 28px;

  font-size: 0;
}

.user-block div {
  display: inline-block;

  font-size: 14px;
  vertical-align: top;
}

.user-block1 {
  width: 32px;
  height: 32px;
  margin-right: 11px;

  background-color: #9db1a5;
  border-radius: 50%;
}

.user-block1 > a {
  font-size: 0;
}

.user-block2 {
  width: 91px;
  height: 27px;
  margin-right: 11px;
  padding-top: 5px;

  background-color: #9db1a5;
  border-radius: 30px;
}

.user-block3 {
  width: 117px;
  height: 27px;
  padding-top: 5px;

  background-color: #9db1a5;
  border-radius: 30px;
}

.user-block-item {
  margin-left: 15px;

  color: #ffffff;
  text-decoration: none;
}

.search {
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 7px;
  margin-left: 7px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -505px;
}

.login::before {
  content: "";

  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;

  vertical-align: middle;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -466px;
}

.cart::before {
  content: "";

  display: inline-block;
  width: 21px;
  height: 20px;
  margin-right: 7px;

  vertical-align: middle;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -90px;
}

.header-contacts {
  text-align: right;
}

.header-contacts > p {
  margin: 0;

  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.header-contacts > div {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

/*=====Main=====*/
.main-content {
  margin-bottom: 104px;
}

.action {
  margin-bottom: 40px;
}

.action-item {
  float: left;
  width: 560px;
  min-height: 229px;
  margin-right: 25px;
}

.action-item:last-child {
  margin-right: 0;
}

.action-header {
  margin: 0;
  padding-top: 24px;
  padding-left: 17px;

  font-size: 35px;
  color: #ffffff;
}

.action-paragraph {
  margin: 0;
  margin-top: 25px;
  margin-left: 18px;

  font-size: 18px;
  color: #ffffff;
}

.action-btn {
  display: inline-block;
  margin-top: 45px;
  margin-left: 371px;
  padding: 11px 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.action-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.action-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.action-btn1 {
  display: inline-block;
  margin-top: 39px;
  margin-left: 348px;
  padding: 11px 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.action-btn1:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.action-btn1:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.background-raspberry {
  background-image: url("../img/raspberry-background.png");
  background-repeat: no-repeat;
}

.background-chocolate {
  background-image: url("../img/chocolate-background.png");
  background-repeat: no-repeat;
}

.ice-cream {
  margin-bottom: 38px;

  font-size: 0;
}

.ice-cream-item {
  position: relative;

  display: inline-block;
  width: 267px;
  margin-right: 25px;

  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}

.ice-cream-item:last-child {
  margin-right: 0;
}

.ice-cream-hit {
  margin-bottom: 7px;
}

.ice-cream-hit::before {
  content: "";
  position: absolute;

  display: block;
  width: 61px;
  height: 61px;

  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
}

.ice-cream-item img {
  border-radius: 50%;
}

.ice-cream-links {
  text-align: center;
}

.ice-cream-links a {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.ice-cream-paragraph {
  position: absolute;
  bottom: 46px;

  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
}

.ice-cream-paragraph span {
  font-size: 45px;
}

.btn-hidden {
  display: none;
}

.about {
  min-height: 307px;
  margin-bottom: 40px;

  background-image: url("../img/waffles-background.jpg");
  border-radius: 15px;
}

.about-header {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 24px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 30px;
}

.article {
  position: relative;

  float: left;
  width: 485px;
  margin-right: 5px;
  margin-bottom: 22px;
  padding-left: 76px;

  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.article p {
  margin: 0;
}

.article-ice-cream::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 19px;

  display: block;
  width: 47px;
  height: 47px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -281px;
}

.article-cow::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 19px;

  display: block;
  width: 47px;
  height: 47px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -130px;
}

.article-leaf::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 19px;

  display: block;
  width: 47px;
  height: 47px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -399px;
}

.article-thermometer::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 19px;

  display: block;
  width: 47px;
  height: 47px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -542px;
}

.news-blog {
  float: left;
  width: 560px;
  min-height: 220px;

  background-image: url("../img/blog-background.png");
  background-repeat: no-repeat;
}

.news-blog > p {
  margin: 0;
  margin-top: 22px;
  margin-left: 19px;

  font-size: 16px;
  color: #5a5a5a;
}

.news-blog > a {
  color: #353535;
}

.news-header {
  margin: 0;
  margin-top: 4px;
  margin-left: 18px;

  font-size: 24px;
  line-height: 29px;
  color: #353535;
  text-decoration: none;
}

.news-subscription {
  float: right;
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 5px;

  background-image: url("../img/mail.jpg");
  background-size: cover;
  border-radius: 15px;
}

.news-subscription-bg {
  min-height: 183px;
  padding-top: 27px;
  padding-left: 21px;

  background: #f8f7f4;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news-subscription-bg p {
  margin: 0;
  margin-bottom: 37px;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

input[type="text"] {
  width: 356px;
  height: 37px;
  padding-left: 8px;

  border-radius: 5px;
}

.form-btn {
  display: inline-block;
  margin-left: 7px;
  padding: 7px 19px;

  font-weight: 600;
  font-size: 17px;
  line-height: 24.3px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  outline: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.form-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.form-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*=====Map=====*/
.map {
  margin-bottom: 80px;
}

.map-contacts {
  width: 275px;
  padding-top: 29px;
  padding-left: 26px;

  background-color: #fefefe;
  border-radius: 15px;
  -webkit-transform: translateX(843px);
          transform: translateX(843px);
}

.map-contacts-normal {
  margin: 0;
  margin-bottom: 2px;

  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.map-contacts-bold {
  margin-bottom: 18px;

  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #343434;
}

.map-contacts-phone {
  margin-bottom: 3px;

  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #343434;
}

.contacts-btn {
  display: inline-block;
  margin-top: 21px;
  margin-bottom: 30px;
  padding: 10px 33px;

  font-weight: 600;
  font-size: 17px;
  line-height: 24.3px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  outline: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.contacts-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.contacts-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*=====Footer=====*/
.footer-social {
  float: left;
  width: 267px;
  margin-right: 90px;
}

.footer-social ul {
  list-style: none;
  font-size: 0;
}

.footer-social li {
  display: inline-block;

  font-size: 13px;
  line-height: 1.2;
  vertical-align: top;
}

.footer-documents {
  float: left;
  width: 350px;
}

.footer-documents ul {
  list-style: none;
  font-size: 0;
}

.footer-documents li {
  display: inline-block;

  font-size: 13px;
  line-height: 1.2;
  vertical-align: top;
}

.footer-copyright {
  float: right;
  width: 267px;

  font-size: 12px;
  line-height: 1.2;
}

/*=====Catalog=====*/
.pages {
  text-align: right;
}

.features-select {
  display: inline-block;

  font-size: 14px;
  line-height: 18px;
}

.features-select-item {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.2;
  vertical-align: top;
}
